# Files/Folders to ignore
**/.idea
**/.mvn
**/.vscode
**/.css
**/.img
**/*.iml
**/*.log
**/*.class
**/.DS_Store
**/.gradle
**/.vertx
**/.settings
**/.classpath
**/.project
**/build/
**/gradle/
**/node_modules/
**/out/
**/bin/
**/obj/
**/db/
**/artifact/
**/temp.txt
**/bundle.js

# Java
**/target/
**/dependency-reduced-pom.xml

# TestNG
**/test-output/
