# Files to ignore
**/.idea
**/.css
**/.img
**/*.iml
**/*.log
**/*.class
**/.DS_Store
**/.gradle
**/build/
**/classes/
**/gradle/
**/node_modules/
**/out/
**/temp.txt

# Java
**/target/
**/dependency-reduced-pom.xml

# TestNG
**/test-output/
