# Looking at the Test Results

https://www.safaribooksonline.com/library/view/building-microservices-with/9781788292658/video2_2.html

- Analyzing Latency

- Analyzing Throughput
