<suite name="DefaultConfig" parallel="methods" thread-count="1" configfailurepolicy="continue">
    <test name="Regression">
        <!--<groups>-->
        <!--<run>-->
        <!--<include name=""/>-->
        <!--</run>-->
        <!--</groups>-->
        <packages>
            <package name="com.company.app.test" />
        </packages>
    </test>
</suite>
